<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../Resources/css/bootstrap.min.css">

<!--CDNS for bootstrap js + dependencies https://getbootstrap.com/docs/4.0/getting-started/download/-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../Resources/css/styles.css">

<html lang="en-us">
<head>
    <meta charset="UTF_8">
    <title>Max Temperature</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" style="font-size: 20px;" href="index.html">Lattitude</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plots</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="max_temperature.html">Max Temperature</a>
                    <a class="dropdown-item" href="max_humidity.html">Max Humidity</a>
                    <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
                    <a class="dropdown-item" href="wind_speed.html">Wind Speed</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="comparison.html">Comparison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="data.html">Data</a>
            </li>
        </ul>
    </div>
</nav>

<body style="background-color: #D3D3D3;">
    <div class="row m-5">
        <div class="col-lg m-2 contentDiv">
            <h1>Max Temperature</h1>
            <hr>            
            <div class="text-center">
                <img class="text-center" style="max-width: 100%;" src="../Resources/assets/images/fig1.png">
            </div>
            <p>TEXT </p>
        </div>
    </div>
</body>
</html>